# .ebextensions/01_django.config

option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/venv/staging-LQM1lest/bin:/var/app/current:$PYTHONPATH"
    DJANGO_SETTINGS_MODULE: "config.settings.production"

    CELERY_BROKER_URL: "{{resolve:ssm:/sdm_platform/CELERY_BROKER_URL}}"
    CHROMA_API_KEY: "{{resolve:ssm:/sdm_platform/CHROMA_API_KEY}}"
    CHROMA_TENANT: "{{resolve:ssm:/sdm_platform/CHROMA_TENANT}}"
    DATABASE_URL: "{{resolve:ssm:/sdm_platform/DATABASE_URL}}"
    DJANGO_ADMIN_URL: "{{resolve:ssm:/sdm_platform/DJANGO_ADMIN_URL}}"
    DJANGO_AWS_STORAGE_BUCKET_NAME: "{{resolve:ssm:/sdm_platform/DJANGO_AWS_STORAGE_BUCKET_NAME}}"
    DJANGO_SECRET_KEY: "{{resolve:ssm:/sdm_platform/DJANGO_SECRET_KEY}}"
    OPENAI_API_KEY: "{{resolve:ssm:/sdm_platform/OPENAI_API_KEY}}"
    REDIS_URL: "{{resolve:ssm:/sdm_platform/REDIS_URL}}"
    SENTRY_DSN: "{{resolve:ssm:/sdm_platform/SENTRY_DSN}}"
    TAVILY_API_KEY: "{{resolve:ssm:/sdm_platform/TAVILY_API_KEY}}"

  aws:elasticbeanstalk:container:python:
    WSGIPath: "config.wsgi:application"
