# .ebextensions/01_django.config

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "config.settings.production"
    DJANGO_READ_DOT_ENV_FILE: 0
    PYTHONPATH: "/var/app/venv/staging-LQM1lest/bin:/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "config.wsgi:application"
