# .ebextensions/02_django_deploy.config

container_commands:
  01_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
    cwd: /var/app/staging
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
    cwd: /var/app/staging
  03_createcachetable:
    command: "python manage.py createcachetable || true"
    leader_only: true
    cwd: /var/app/staging
