option_settings:
  aws:elbv2:listener:443:
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-east-2:629490206438:certificate/3ec8fc28-ca62-498a-a901-d1f276834849
    DefaultProcess: default
  aws:elbv2:listener:default:
    ListenerEnabled: 'true'

  # Redirect HTTP to HTTPS
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /health/
    Port: '80'
    Protocol: HTTP
    DeregistrationDelay: '20'
    HealthCheckInterval: '15'
    HealthCheckTimeout: '5'
    HealthyThresholdCount: '3'
    UnhealthyThresholdCount: '5'
