option_settings:
  aws:elbv2:listener:443:
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-east-2:629490206438:certificate/0a7e3112-2d00-46d1-897a-5c198d86ed1b
    DefaultProcess: default
  aws:elbv2:listener:default:
    ListenerEnabled: 'true'

  # Redirect HTTP to HTTPS
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /health/
    Port: '80'
    Protocol: HTTP
    DeregistrationDelay: '20'
    HealthCheckInterval: '15'
    HealthCheckTimeout: '5'
    HealthyThresholdCount: '3'
    UnhealthyThresholdCount: '5'
