# .ebextensions/04_management_scripts.config
# Make environment variables available to ec2-user

container_commands:
  01_copy_env_for_ec2_user:
    command: |
      #!/bin/bash
      # Copy environment variables to ec2-user home directory with proper export statements
      while IFS='=' read -r key value; do
        [[ -z "$key" ]] && continue
        printf "export %s='%s'\n" "$key" "$value"
      done < /opt/elasticbeanstalk/deployment/env > /home/ec2-user/.eb-env
      chmod 644 /home/ec2-user/.eb-env
      chown ec2-user:ec2-user /home/ec2-user/.eb-env
