{% load static i18n compress %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {% block title %}
        Perspicacious Health
      {% endblock title %}
    </title>
    {% block css %}
      <link rel="stylesheet"
            href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" />
      <link rel="stylesheet"
            href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" />
      {% block custom_css %}
        {% compress css %}
          <link href="{% static 'css/project.css' %}" rel="stylesheet" />
        {% endcompress %}
      {% endblock custom_css %}
    {% endblock css %}
    {% block javascript %}
      <script defer
              src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
      {% block user_javascript %}
        <!-- Your stuff: Third-party javascript libraries go here -->
      {% endblock user_javascript %}
    {% endblock javascript %}
  </head>
  <body>
    {% block body %}
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <div class="container">
          <a class="navbar-brand fw-bold" href="#">Perspicacious Health</a>
          <button class="navbar-toggler"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarNav"
                  aria-controls="navbarNav"
                  aria-expanded="false"
                  aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#stakeholders">Who We Serve</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
              </li>
              {% if request.user.is_authenticated %}
                <li class="nav-item">
                  <!--<a class="nav-link" href="/chat/conversation/">Conversations</a>-->
                  <a class="nav-link" href="{% url 'chat_conversation_top' %}">Conversations</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'users:detail' request.user.pk %}">{% translate "Profile" %}</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'account_login' %}">{% translate "Login" %}</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
      {% block content %}
      {% endblock content %}
      <!-- Footer -->
      {% block footer %}
        <footer>
          <p class="mb-0">© 2025 Perspicacious Health — All Rights Reserved</p>
        </footer>
      {% endblock footer %}
      {% block modal %}
      {% endblock modal %}
      {% block inline_javascript %}
      {% endblock inline_javascript %}
    {% endblock body %}
  </body>
</html>
